.detailContainer {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .productImg {
      width: 680px;
    }
    .buybox {
      display: flex;
      flex-direction: column;
      width: 30%;
      .condition {
        margin-top: 32px;
        font-size: 14px;
      }
      .title {
        margin: 16px 0px 32px 0px;
        font-size: 24px;
        font-weight: 500;
        width: 70%;
      }
      .price {
        font-size: 46px;
      }
      .button {
        border: 0px;
        padding: 1em;
        margin: 32px 32px 0px 0px;
        font-size: 18px;
        color: #ffffff;
        background-color: #3483fa;
        border-radius: 4px;
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    padding: 32px;
    .descriptionTitle {
      font-size: 28px;
      margin-bottom: 32px;
    }
    .descriptionText {
      width: 70%;
      font-size: 16px;
      color: #999999;
    }
  }
}

@media (max-width: 1350px) {
  .detailContainer {
    .row {
      flex-direction: column;
      align-items: center;
      .productImg {
        margin-top: 2em;
        width: 90%;
      }
      .buybox {
        width: 100%;
        align-items: center;
        .condition {
          margin-top: 1em;
        }
        .title {
          width: 100%;
          padding: 0em 2em;
          text-align: center;
        }
        .price {
          font-size: 38px;
        }
        .button {
          margin: 2em;
          width: 80%;
        }
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      padding: 2em;
      .descriptionTitle {
        font-size: 25px;
      }
      .descriptionText {
        width: 100%;
      }
    }
  }
}
