.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  input {
    height: 45px;
    border: 0;
    width: 95%;
    padding: 0em 1em;
    font-size: 18px;
    color: #999999;
  }

  input[type="text"]::placeholder {
    font-size: 18px;
    color: #999999;
  }

  input[type="text"]:focus {
    box-shadow: 0 0 3px 0 #999999;
    border-color: #999999;
    outline: none;
  }

  button {
    background-color: #eeeeee;
    border: 0px;
    width: 5%;
    height: 100%;
    cursor: pointer;
    padding: 11px 0em;
  }
}
