.layoutContainer {
  height: 100dvh;
  .layoutHead {
    width: 100%;
    height: 5dvh;
    background-color: #ffe600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .searchContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70%;
      .mlLogo {
        margin-right: 2em;
      }
    }
  }
  .sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 95dvh;
    background-color: #eeeeee;
    .childrenContainer {
      width: 60%;
      display: flex;
      flex-direction: column;
      .breadcrumbsContainer {
        margin-top: 16px;
        .breadcrumbs {
          font-size: 14px;
          color: #666666;
        }
        .breadcrumbs:last-child {
          font-weight: bold;
        }
      }
      .bodyContainer {
        margin-top: 16px;
        height: fit-content;
        background-color: #ffffff;
      }
    }
  }
}
